.square {
  border: 1px solid black;
  background-color: rgb(112, 150, 107);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.wrapper {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game-over-hidden {
  display: none;
}

.game-over-visible {
  display: flex;
  background-color: rgb(183, 65, 65);
  margin-left: auto;
  font-size: 32px;
  padding: 0 32px 0 12px;
}

#clear-button {
  font-size: 32px;
  /* position: fixed; */
  margin-left: auto;
  background-color: gray;
  border: none;
  padding: none;
}

.headerwrapper {
  display: flex;
  width: 310px;
}
